Repository tunnelvisionlabs/java-threading: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

codecov:
  ui:
    # hide cyclomatic complexity in the UI and pull request comments
    hide_complexity: true

coverage:
  status:
    project:
      default: false
    patch:
      default: false

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Fix the Gitter link
  README.md
Due: none

Disable unreliable GC test
  test/com/tunnelvisionlabs/util/concurrent/AsyncQueueTest.java
Due: test

Handle inconsistencies in thenCompose behavior across Java releases
  src/com/tunnelvisionlabs/util/concurrent/Async.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncTest.java
Due: production, test

Fix heading in README
  README.md
Due: none

Disable unstable GC test
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureTest.java
Due: test

Add tests for the validation package
  test/com/tunnelvisionlabs/util/validation/ReportTest.java
  test/com/tunnelvisionlabs/util/validation/RequiresTest.java
  test/com/tunnelvisionlabs/util/validation/VerifyTest.java
Due: test

Add tests for ThreadProperties
  test/com/tunnelvisionlabs/util/concurrent/ThreadPropertiesTest.java
Due: test

Add hamcrest matchers
  pom.xml
Due: none

Add tests for Suppressions
  test/com/tunnelvisionlabs/util/concurrent/SuppressionsTest.java
Due: test

Add tests for delayAsync edge cases
  test/com/tunnelvisionlabs/util/concurrent/AsyncTest.java
Due: test

Add tests for Functions
  test/com/tunnelvisionlabs/util/concurrent/FunctionsTest.java
Due: test

Add tests for AggregateException
  test/com/tunnelvisionlabs/util/concurrent/AggregateExceptionTest.java
Due: test
