Repository tunnelvisionlabs/java-threading: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Add initial .editorconfig
  .editorconfig
Due: none

Indent using tabs instead of spaces
  .editorconfig
Due: none

Implement AsyncManualResetEvent with tests
  src/com/tunnelvisionlabs/util/concurrent/AsyncManualResetEvent.java
  src/com/tunnelvisionlabs/util/concurrent/Futures.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncManualResetEventTest.java
Due: production, test

Implement an additional test case for AsyncAutoResetEvent
  test/com/tunnelvisionlabs/util/concurrent/AsyncAutoResetEventTest.java
Due: test

Added AsyncBarrier with tests
  src/com/tunnelvisionlabs/util/concurrent/Async.java
  src/com/tunnelvisionlabs/util/concurrent/AsyncBarrier.java
  src/com/tunnelvisionlabs/util/concurrent/Requires.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncBarrierTest.java
  test/com/tunnelvisionlabs/util/concurrent/TestBase.java
Due: production, test

Added Async.forAsync to simplify tests
  src/com/tunnelvisionlabs/util/concurrent/Async.java
  src/com/tunnelvisionlabs/util/concurrent/Futures.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncAutoResetEventTest.java
Due: production, test

Implemented AsyncCountdownEvent with tests
  src/com/tunnelvisionlabs/util/concurrent/AsyncCountdownEvent.java
  src/com/tunnelvisionlabs/util/concurrent/Futures.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncCountdownEventTest.java
Due: production, test

Implement AsyncQueue with tests
  src/com/tunnelvisionlabs/util/concurrent/AsyncQueue.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncQueueTest.java
  test/com/tunnelvisionlabs/util/concurrent/GenericParameterHelper.java
Due: production, test

Initial work to flow the execution context
  src/com/tunnelvisionlabs/util/concurrent/Async.java
  src/com/tunnelvisionlabs/util/concurrent/AsyncFlowControl.java
  src/com/tunnelvisionlabs/util/concurrent/CallContext.java
  src/com/tunnelvisionlabs/util/concurrent/ExecutionContext.java
  src/com/tunnelvisionlabs/util/concurrent/SynchronizationContext.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncCountdownEventTest.java
  test/com/tunnelvisionlabs/util/concurrent/SingleThreadedSynchronizationContext.java
  test/com/tunnelvisionlabs/util/concurrent/TestBase.java
Due: production, test

Implement AsyncLocal with tests
  src/com/tunnelvisionlabs/util/concurrent/Async.java
  src/com/tunnelvisionlabs/util/concurrent/AsyncFunctions.java
  src/com/tunnelvisionlabs/util/concurrent/AsyncLocal.java
  src/com/tunnelvisionlabs/util/concurrent/CallContext.java
  src/com/tunnelvisionlabs/util/concurrent/ExecutionContext.java
  src/com/tunnelvisionlabs/util/concurrent/ThreadPool.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncLocalTest.java
Due: production, test

Implement and test cancellation for AsyncLazy
  src/com/tunnelvisionlabs/util/concurrent/AsyncLazy.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFuture.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncLazyTest.java
Due: production, test

Implement many additional AsyncLazy tests with JoinableFuture
  src/com/tunnelvisionlabs/util/concurrent/Async.java
  src/com/tunnelvisionlabs/util/concurrent/AsyncLazy.java
  src/com/tunnelvisionlabs/util/concurrent/AsyncManualResetEvent.java
  src/com/tunnelvisionlabs/util/concurrent/Awaitable.java
  src/com/tunnelvisionlabs/util/concurrent/Awaiter.java
  src/com/tunnelvisionlabs/util/concurrent/Disposable.java
  src/com/tunnelvisionlabs/util/concurrent/FutureAwaiter.java
  src/com/tunnelvisionlabs/util/concurrent/InlineResumable.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFuture.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureCollection.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureContext.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureContextException.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureContextNode.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureCreationOption.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureFactory.java
  src/com/tunnelvisionlabs/util/concurrent/ListOfOftenOne.java
  src/com/tunnelvisionlabs/util/concurrent/NoMessagePumpSyncContext.java
  src/com/tunnelvisionlabs/util/concurrent/NotifyCompletion.java
  src/com/tunnelvisionlabs/util/concurrent/Requires.java
  src/com/tunnelvisionlabs/util/concurrent/SpecializedSyncContext.java
  src/com/tunnelvisionlabs/util/concurrent/StrongBox.java
  src/com/tunnelvisionlabs/util/concurrent/SynchronizationContext.java
  src/com/tunnelvisionlabs/util/concurrent/ThreadingTools.java
  src/com/tunnelvisionlabs/util/concurrent/TplExtensions.java
  src/com/tunnelvisionlabs/util/concurrent/Verify.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncAssert.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncLazyTest.java
  test/com/tunnelvisionlabs/util/concurrent/TestBase.java
  test/com/tunnelvisionlabs/util/concurrent/TestUtilities.java
Due: production, test

Implement and test cancellation for AsyncAutoResetEvent
  src/com/tunnelvisionlabs/util/concurrent/AsyncAutoResetEvent.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncAutoResetEventTest.java
Due: production, test

Implement tests for JoinableFutureContextNode
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureContextNodeTest.java
Due: test

Add tests for JoinableFutureCollection
  src/com/tunnelvisionlabs/util/concurrent/Async.java
  src/com/tunnelvisionlabs/util/concurrent/Dgml.java
  src/com/tunnelvisionlabs/util/concurrent/HangReportContribution.java
  src/com/tunnelvisionlabs/util/concurrent/HangReportContributor.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFuture.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureContext.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureFactory.java
  src/com/tunnelvisionlabs/util/concurrent/Requires.java
  src/com/tunnelvisionlabs/util/concurrent/Verify.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureCollectionTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureTestBase.java
Due: production, test

Mark helper methods private
  test/com/tunnelvisionlabs/util/concurrent/AsyncLazyTest.java
Due: test

Implement JoinableFutureFactoryTest
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureFactoryTest.java
Due: test

Implement a large number of additional tests
  src/com/tunnelvisionlabs/util/concurrent/Async.java
  src/com/tunnelvisionlabs/util/concurrent/AsyncManualResetEvent.java
  src/com/tunnelvisionlabs/util/concurrent/AsyncQueue.java
  src/com/tunnelvisionlabs/util/concurrent/AwaitExtensions.java
  src/com/tunnelvisionlabs/util/concurrent/FutureAwaitable.java
  src/com/tunnelvisionlabs/util/concurrent/FutureAwaiter.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFuture.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureFactory.java
  src/com/tunnelvisionlabs/util/concurrent/SynchronizationContext.java
  src/com/tunnelvisionlabs/util/concurrent/ThreadPool.java
  src/com/tunnelvisionlabs/util/concurrent/TplExtensions.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncAssert.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncLazyTest.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncLocalTest.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncQueueTest.java
  test/com/tunnelvisionlabs/util/concurrent/Iterables.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureCollectionTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureContextNodeTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureContextTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureFactoryTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureTest.java
  test/com/tunnelvisionlabs/util/concurrent/SynchronizationContextTest.java
  test/com/tunnelvisionlabs/util/concurrent/TestBase.java
  test/com/tunnelvisionlabs/util/concurrent/TestUtilities.java
Due: production, test

Implement a few remaining JoinableFuture members and clean up code
  src/com/tunnelvisionlabs/util/concurrent/JoinableFuture.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureContext.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureFactory.java
Due: production

Cleanup related to Async utilities
  src/com/tunnelvisionlabs/util/concurrent/Async.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncBarrierTest.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncTest.java
Due: production, test

Add some tests for SynchronizationContext behavior
  src/com/tunnelvisionlabs/util/concurrent/ExecutionContext.java
  test/com/tunnelvisionlabs/util/concurrent/SynchronizationContextTest.java
Due: production, test

Implement a large number of additional tests in JoinableFutureTest
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureTest.java
Due: test

Implement a large number of additional tests in JoinableFutureTest
  src/com/tunnelvisionlabs/util/concurrent/Async.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFuture.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureTest.java
  test/com/tunnelvisionlabs/util/concurrent/TestBase.java
Due: production, test

Fix handling of completed awaiters and enable several tests
  src/com/tunnelvisionlabs/util/concurrent/Async.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureContextNodeTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureContextTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureTest.java
Due: production, test

Implement a large number of additional tests in JoinableFutureTest
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureTest.java
  test/com/tunnelvisionlabs/util/concurrent/TestUtilities.java
Due: test

Code cleanup in JoinableFutureFactory
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureFactory.java
Due: production

Initial implementation of CancellationToken
  src/com/tunnelvisionlabs/util/concurrent/AggregateException.java
  src/com/tunnelvisionlabs/util/concurrent/CancellationToken.java
  src/com/tunnelvisionlabs/util/concurrent/CancellationTokenRegistration.java
  src/com/tunnelvisionlabs/util/concurrent/CancellationTokenSource.java
Due: production

Use CancellationToken instead of CompletableFuture in AsyncAutoResetEvent
  src/com/tunnelvisionlabs/util/concurrent/AsyncAutoResetEvent.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncAutoResetEventTest.java
Due: production, test

Use CancellationToken instead of CompletableFuture in AsyncLazy
  src/com/tunnelvisionlabs/util/concurrent/AsyncLazy.java
  src/com/tunnelvisionlabs/util/concurrent/CancellationTokenSource.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFuture.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureFactory.java
  src/com/tunnelvisionlabs/util/concurrent/ThreadingTools.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncLazyTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureContextTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureTest.java
  test/com/tunnelvisionlabs/util/concurrent/TestBase.java
Due: production, test

Use CancellationToken instead of CompletableFuture in AsyncQueue
  src/com/tunnelvisionlabs/util/concurrent/AsyncQueue.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncQueueTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureContextTest.java
Due: production, test

Move supply and supplyAsync to Futures
  src/com/tunnelvisionlabs/util/concurrent/Async.java
  src/com/tunnelvisionlabs/util/concurrent/Futures.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncLazyTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureContextTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureTest.java
  test/com/tunnelvisionlabs/util/concurrent/TestUtilities.java
Due: production, test

Move Async.unwrap to Futures.unwrap
  src/com/tunnelvisionlabs/util/concurrent/Async.java
  src/com/tunnelvisionlabs/util/concurrent/Futures.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncBarrierTest.java
Due: production, test

Move Async.runAsync to Futures.runAsync
  src/com/tunnelvisionlabs/util/concurrent/Async.java
  src/com/tunnelvisionlabs/util/concurrent/CancellationTokenSource.java
  src/com/tunnelvisionlabs/util/concurrent/Futures.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncLocalTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureCollectionTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureContextNodeTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureContextTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureFactoryTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureTest.java
  test/com/tunnelvisionlabs/util/concurrent/SynchronizationContextTest.java
Due: production, test

Implement additional tests for AsyncManualResetEvent
  test/com/tunnelvisionlabs/util/concurrent/AsyncManualResetEventTest.java
  test/com/tunnelvisionlabs/util/concurrent/TestUtilities.java
Due: test

Fix test failures
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureTestBase.java
Due: test

Implement initial GC tests
  test/com/tunnelvisionlabs/util/concurrent/AsyncQueueTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureTest.java
  test/com/tunnelvisionlabs/util/concurrent/TestBase.java
Due: test

Use Object instead of ReentrantLock in AsyncQueue
  src/com/tunnelvisionlabs/util/concurrent/AsyncQueue.java
Due: production

Update Async.delayAsync to take a CancellationToken
  src/com/tunnelvisionlabs/util/concurrent/Async.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureContextTest.java
Due: production, test

Improve the name of the delayAsync scheduling thread
  src/com/tunnelvisionlabs/util/concurrent/Async.java
Due: production

Ignore unstable GC tests
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureTest.java
Due: test

Path conditions:
  production: any of: src/
  test: any of: test/
