Repository tunnelvisionlabs/java-threading: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Add tests for strange completion behaviors
  test/com/tunnelvisionlabs/util/concurrent/AsyncTest.java
Due: test

Remove SynchronizationContext tracking from ExecutionContext
  src/com/tunnelvisionlabs/util/concurrent/ExecutionContext.java
Due: production

Make FutureAwaiter a nested class
  src/com/tunnelvisionlabs/util/concurrent/AsyncManualResetEvent.java
  src/com/tunnelvisionlabs/util/concurrent/FutureAwaitable.java
  src/com/tunnelvisionlabs/util/concurrent/FutureAwaiter.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFuture.java
Due: production

Add and implement CriticalNotifyCompletion where applicable
  src/com/tunnelvisionlabs/util/concurrent/Async.java
  src/com/tunnelvisionlabs/util/concurrent/AwaitExtensions.java
  src/com/tunnelvisionlabs/util/concurrent/CriticalNotifyCompletion.java
  src/com/tunnelvisionlabs/util/concurrent/FutureAwaitable.java
  src/com/tunnelvisionlabs/util/concurrent/InlineResumable.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureFactory.java
  src/com/tunnelvisionlabs/util/concurrent/TplExtensions.java
Due: production

Fix javadoc error
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureContext.java
Due: production

Fix failing test due to translation error
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureTest.java
Due: test

Port additional tests
  src/com/tunnelvisionlabs/util/concurrent/Futures.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureTest.java
Due: production, test

Add and use Async.runAsync for async methods
  src/com/tunnelvisionlabs/util/concurrent/Async.java
  src/com/tunnelvisionlabs/util/concurrent/AsyncCountdownEvent.java
  src/com/tunnelvisionlabs/util/concurrent/AsyncLazy.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFuture.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureCollection.java
  src/com/tunnelvisionlabs/util/concurrent/ThreadingTools.java
  src/com/tunnelvisionlabs/util/concurrent/TplExtensions.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureTest.java
Due: production, test

Fix deadlock in JoinableFuture
  src/com/tunnelvisionlabs/util/concurrent/JoinableFuture.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureTest.java
Due: production, test

Make Async.configureAwait a separate method
  src/com/tunnelvisionlabs/util/concurrent/Async.java
  src/com/tunnelvisionlabs/util/concurrent/AsyncCountdownEvent.java
  src/com/tunnelvisionlabs/util/concurrent/AsyncLazy.java
  src/com/tunnelvisionlabs/util/concurrent/FutureAwaitable.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureCollection.java
  src/com/tunnelvisionlabs/util/concurrent/ThreadingTools.java
  src/com/tunnelvisionlabs/util/concurrent/TplExtensions.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureCollectionTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureTest.java
Due: production, test

Improved documentation and consistent use of Disposable interface
  src/com/tunnelvisionlabs/util/concurrent/AsyncFlowControl.java
  src/com/tunnelvisionlabs/util/concurrent/Disposable.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureContext.java
  src/com/tunnelvisionlabs/util/concurrent/SpecializedSyncContext.java
Due: production

Improved StrongBox API and documentation
  src/com/tunnelvisionlabs/util/concurrent/Async.java
  src/com/tunnelvisionlabs/util/concurrent/AsyncLazy.java
  src/com/tunnelvisionlabs/util/concurrent/Dgml.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFuture.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureContext.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureFactory.java
  src/com/tunnelvisionlabs/util/concurrent/StrongBox.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncLazyTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureContextTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureTestBase.java
  test/com/tunnelvisionlabs/util/concurrent/TestBase.java
Due: production, test

Use Object instead of ReentrantLock in AsyncLazy
  src/com/tunnelvisionlabs/util/concurrent/AsyncLazy.java
Due: production

Use Object instead of ReentrantLock in JoinableFutureContext
  src/com/tunnelvisionlabs/util/concurrent/JoinableFuture.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureCollection.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureContext.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureFactory.java
Due: production

Use member references where appropriate
  src/com/tunnelvisionlabs/util/concurrent/Async.java
  src/com/tunnelvisionlabs/util/concurrent/AsyncFunctions.java
Due: production

Remove unused method
  src/com/tunnelvisionlabs/util/concurrent/AsyncFunctions.java
Due: production

Remove unnecessary class ThreadPool
  src/com/tunnelvisionlabs/util/concurrent/CompletableFutureWithoutInlining.java
  src/com/tunnelvisionlabs/util/concurrent/ThreadPool.java
Due: production

Memory usage optimizations in ExecutionContext
  src/com/tunnelvisionlabs/util/concurrent/ExecutionContext.java
Due: production

Rename AsyncAssert to match JUnit patterns
  test/com/tunnelvisionlabs/util/concurrent/AsyncAssert.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncLazyTest.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncQueueTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureTest.java
Due: test

Implement ExecutionContext.createCopy
  src/com/tunnelvisionlabs/util/concurrent/ExecutionContext.java
Due: production

Use Duration instead of separate time and unit
  src/com/tunnelvisionlabs/util/concurrent/Async.java
  src/com/tunnelvisionlabs/util/concurrent/CancellationTokenSource.java
  src/com/tunnelvisionlabs/util/concurrent/TplExtensions.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncAutoResetEventTest.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncCountdownEventTest.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncLazyTest.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncLocalTest.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncManualResetEventTest.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncQueueTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureCollectionTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureContextNodeTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureContextTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureFactoryTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureTestBase.java
  test/com/tunnelvisionlabs/util/concurrent/TestBase.java
Due: production, test

Fix race condition revealed by testPulseAllAsync
  src/com/tunnelvisionlabs/util/concurrent/AsyncManualResetEvent.java
  src/com/tunnelvisionlabs/util/concurrent/Futures.java
Due: production

Use method references where appropriate
  src/com/tunnelvisionlabs/util/concurrent/CallContext.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFuture.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureFactory.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncQueueTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureContextNodeTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureTest.java
  test/com/tunnelvisionlabs/util/concurrent/TestBase.java
  test/com/tunnelvisionlabs/util/concurrent/TestUtilities.java
Due: production, test

Remove unused field
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureContext.java
Due: production

Convert additional Verify operations
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureContext.java
  test/com/tunnelvisionlabs/util/concurrent/SingleThreadedSynchronizationContext.java
Due: production, test

Add stub Report class and convert relevant lines
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureContext.java
  src/com/tunnelvisionlabs/util/concurrent/SpecializedSyncContext.java
  src/com/tunnelvisionlabs/util/validation/Report.java
Due: production

Add usage metadata to annotation types
  src/com/tunnelvisionlabs/util/validation/NotNull.java
  src/com/tunnelvisionlabs/util/validation/Nullable.java
Due: production

Configure bundle package visibility
  pom.xml
Due: none

Code formatting fixes
  src/com/tunnelvisionlabs/util/concurrent/AsyncAutoResetEvent.java
  src/com/tunnelvisionlabs/util/concurrent/AsyncQueue.java
  src/com/tunnelvisionlabs/util/concurrent/Dgml.java
  src/com/tunnelvisionlabs/util/concurrent/InlineResumable.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFuture.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureCollection.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureContext.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureFactory.java
  src/com/tunnelvisionlabs/util/concurrent/ListOfOftenOne.java
  src/com/tunnelvisionlabs/util/concurrent/TplExtensions.java
  src/com/tunnelvisionlabs/util/validation/NotNull.java
  src/com/tunnelvisionlabs/util/validation/Nullable.java
  src/com/tunnelvisionlabs/util/validation/Report.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncAssert.java
  test/com/tunnelvisionlabs/util/concurrent/FailsInCloudTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureTest.java
  test/com/tunnelvisionlabs/util/concurrent/TestUtilities.java
Due: production, test

Fix Awaiter.getResult not able to apply changes to AsyncLocal values
  src/com/tunnelvisionlabs/util/concurrent/Async.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncTest.java
Due: production, test

Fix ExecutionContext.run not restoring the SynchronizationContext
  src/com/tunnelvisionlabs/util/concurrent/ExecutionContext.java
  test/com/tunnelvisionlabs/util/concurrent/ExecutionContextTest.java
Due: production, test

Use ExecutionContext approach from CoreCLR
  src/com/tunnelvisionlabs/util/concurrent/AsyncFlowControl.java
  src/com/tunnelvisionlabs/util/concurrent/AsyncLocal.java
  src/com/tunnelvisionlabs/util/concurrent/AsyncLocalValueChangedEventArgs.java
  src/com/tunnelvisionlabs/util/concurrent/AsyncLocalValueMap.java
  src/com/tunnelvisionlabs/util/concurrent/CallContext.java
  src/com/tunnelvisionlabs/util/concurrent/ExecutionContext.java
  src/com/tunnelvisionlabs/util/concurrent/ExecutionContextSwitcher.java
  src/com/tunnelvisionlabs/util/concurrent/IAsyncLocal.java
  src/com/tunnelvisionlabs/util/concurrent/IAsyncLocalValueMap.java
  src/com/tunnelvisionlabs/util/concurrent/SynchronizationContext.java
  src/com/tunnelvisionlabs/util/concurrent/ThreadProperties.java
  test/com/tunnelvisionlabs/util/concurrent/TestBase.java
Due: production, test

Remove unnecessary method IAsyncLocalValueMap.containsKey
  src/com/tunnelvisionlabs/util/concurrent/AsyncLocalValueMap.java
  src/com/tunnelvisionlabs/util/concurrent/ExecutionContext.java
  src/com/tunnelvisionlabs/util/concurrent/IAsyncLocalValueMap.java
Due: production

Remove unnecessary interface IAsyncLocal and work with generic AsyncLocal<T>
  src/com/tunnelvisionlabs/util/concurrent/AsyncLocal.java
  src/com/tunnelvisionlabs/util/concurrent/AsyncLocalValueMap.java
  src/com/tunnelvisionlabs/util/concurrent/ExecutionContext.java
  src/com/tunnelvisionlabs/util/concurrent/IAsyncLocal.java
  src/com/tunnelvisionlabs/util/concurrent/IAsyncLocalValueMap.java
Due: production

Remove unnecessary interface IAsyncLocalValueMap
  src/com/tunnelvisionlabs/util/concurrent/AsyncLocalValueMap.java
  src/com/tunnelvisionlabs/util/concurrent/ExecutionContext.java
  src/com/tunnelvisionlabs/util/concurrent/IAsyncLocalValueMap.java
Due: production

Add ObjectPool and use for a StrongBox instance
  src/com/tunnelvisionlabs/util/concurrent/Async.java
  src/com/tunnelvisionlabs/util/concurrent/ObjectPool.java
  src/com/tunnelvisionlabs/util/concurrent/SharedPools.java
Due: production

Reduce the number of StrongBox allocations
  src/com/tunnelvisionlabs/util/concurrent/AsyncLazy.java
  src/com/tunnelvisionlabs/util/concurrent/AsyncManualResetEvent.java
  src/com/tunnelvisionlabs/util/concurrent/ExecutionContext.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFuture.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureContext.java
Due: production

Add ThreadingTools.interruptOnCancel
  src/com/tunnelvisionlabs/util/concurrent/ThreadingTools.java
  test/com/tunnelvisionlabs/util/concurrent/AsyncTest.java
Due: production, test

Suppress warnings about resource not being used in a try-with-resources statement
  src/com/tunnelvisionlabs/util/concurrent/InlineResumable.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFuture.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureCollection.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureContext.java
  src/com/tunnelvisionlabs/util/concurrent/JoinableFutureFactory.java
  src/com/tunnelvisionlabs/util/concurrent/Suppressions.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureContextNodeTest.java
  test/com/tunnelvisionlabs/util/concurrent/JoinableFutureTest.java
Due: production, test

Path conditions:
  production: any of: src/
  test: any of: test/
